*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

body{
  padding-top: 50px;
}

.header{
  border-bottom: 1px solid #eee; 
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #FFF;
  top: 0;
}

.menu1{
  display: flex;
  align-items: center;
  padding: 10px;
}

.menu1 a{
  margin-left: 4px;
  text-decoration: none;
  color: #808080;
}
.menu1 li {
  display: block;
  padding: 2px;

}

.menu2{
  display: flex;
  align-items: center;
  padding: 12px;
}

.menu2 a {
  text-decoration: none;
  font-size: 13px;
  color: #808080;
}

.menu2 li {
  display: block;
  padding: 7px;  
}

.menu2 li select {
  border: none;
  border-bottom: 1px solid #808080;
}

.container {
  background-color: #FFF;
  height: 850px;
}

.climao {
  background-color: #2BCBBA;
  height: 65px;
  margin-top: 30px;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.climao ul{
  display: flex;
  align-items: center;
  margin: 0 70px 0 90px;

}

.climao ul li{
  display: block;
  padding: 5px;
}

.climao ul li span{
  font-size: 20px;
}

.climao ul li input {
  border-radius: 15px;  
  height: 32px;
  width: 270px;
  padding: 10px;
  border: none;
}

.container{
  background-color: #0000000F
  ;
}

.central {
  background-color: 0000000F;
  margin-top: 50px;
  margin: 50px 100px 0 100px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.esquerda{
  background-color: #FFF;
  height: 100%;
  width: 55%;
  border-radius: 1%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.esquerdaCima{
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 95%;
  height: 15%;
  margin-right: 10px;
}

.minMax{
  display: flex;
  align-items: center;
  justify-content: center;
}

.minMax span{
  font-size: 16px;
  color: #4B6584;
}

.minimo{
  display: block;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minimo2{
  display: block;
  margin-left: 10px;
}

.maximo{
  display: block;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maximo2{
  display: block;
  margin-left: 10px;
}

.campinas{
  display: flex;
  align-items: start;
  flex-direction: column;
}

.campinas span{
  font-size: 20px;
  color: #4B6584;
}

.campinas p{
  font-size: 15px;
  color: #4B6584;
}

.campinas2{
  display: flex;
  align-items: start;
  margin-bottom: 10px;
  padding: 10px;
}

.campinas3{
  display: block;
  margin-left: 10px;
}

.campinas3 span{
  font-size: 25px;
}

.esquerdaMeio{
  width: 95%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.esquerdaMeioEsquerda{
  height: 200px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  border-right: 1px solid rgba(128,128,128, 0.4);
  margin-right: 10px;
  padding-right: 20px;
}
 
.termo {
  display: flex;
  align-items:start;
}

.termo span{
  font-size: 150px;
  color: #4B6584;
}

.termo p{
  font-size: 17px;
  color: #4B6584;
  border-radius: 15px;
  padding: 8px;
}

.termo2{
  display: block;
  margin-top: 20px;
  padding: 15px;
}

.sensacao p{
  color: #4B6584;
  border: 1px solid #2BCBBA;
  font-size: 17px;
  padding: 3px 30px;
  border-radius: 15px;
}

.nublado {
  color: #4B6584;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 270px;
  width: 280px;
}

.nublado p{
  font-size: 23px;
}

.esquerdaBaixo{
  width: 90%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.umidade{
  box-shadow: 0 0 1px;
  margin: 0 0 10px 20px;
  width: 165px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.umidade2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.umidade2 p {
  font-size: 12px;
  color: #4B6584;
}

.umidade3{
  display: flex;
  justify-content: center;
}

.umidade4{
  display: block;
  padding: 5px;
}

.umidade4 p{
  font-size: 17px;
}

.umidade5 strong p{
  font-size: 30px;
  color: #4B6584;
}

.velocidade{
  box-shadow: 0 0 1px;
  width: 165px;
  height: 170px;
  margin: 0 0 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.velocidade2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 18px;
}

.velocidade2 p{
  font-size: 18px;
  color: #4B6584;
}

.velocidade3{
  display: block;
  padding: 10px;
  
}

.velocidade3 p{
  font-size: 30px;
  color: #4B6584;
}

.direcao{
  box-shadow: 0 0 1px;
  width: 165px;
  height: 170px;
  margin: 0 0 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 14px;
}

.direcao1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 16px 0;
}

.direcao1 p{
  font-size: 18px;
  color: #4B6584;
}

.direcao2{
  display: block;
  padding: 10px;
  
}

.direcao2 p{
  font-size: 30px;
  color: #4B6584;
}

.direita{
  height: 100%;
  width: 43%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.divBlue{
  height: 17%;
  width: 98%;
  border-radius: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.blueEsquerda{
  background-color: rgba(56,103,214, 0.8);
  color: #FFF;
  border-right: 1px transparent #FFF;
  height: 100%;
  width: 135px;
  display: flex;
  align-items:start;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid rgba(255,255,255, 0.3);
}

.blueEsquerda p{
  font-size: 18px;
  margin-left: 15px;
}

.blueMeio{
  background-color: rgba(56,103,214, 0.8);
  color: #FFF;
  border-right: 1px transparent #FFF;
  height: 100%;
  width: 194px;
  display: flex;
  align-items: center;
  justify-content: start;
  border-right: 1px solid rgba(255,255,255, 0.3);
}

.blueMeio span {
  font-size: 15px;
  margin-left: 1px;
}

.blueDireitaCima{ 
  background-color: rgba(56,103,214, 0.8);
  color: #FFF;
  width: 155px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.blueDireitaCima span{
  font-size: 15px;
}

.blueDireitaBaixo{
  background-color: rgba(56,103,214, 0.8);
  color: #FFF;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.blueDireitaBaixo span{
  font-size: 15px;
}

.divOrange{
  height: 17%;
  width: 98%;
  margin-top: 4%;
  border-radius: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.orangeEsquerda{
  background-color: rgba(250,130,49, 0.8);
  color: #FFF;
  border-right: 1px transparent #FFF;
  height: 100%;
  width: 135px;
  display: flex;
  align-items:start;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid rgba(255,255,255, 0.3);
}

.orangeEsquerda p{
  font-size: 18px;
  margin-left: 15px;
}

.orangeMeio{
  background-color: rgba(250,130,49, 0.8);
  color: #FFF;
  border-right: 1px transparent #FFF;
  height: 100%;
  width: 194px;
  display: flex;
  align-items: center;
  justify-content: start;
  border-right: 1px solid rgba(255,255,255, 0.3);
}

.orangeMeio span {
  font-size: 15px;
  margin-left: 1px;
}

.orangeDireitaCima{ 
  background-color: rgba(250,130,49, 0.8);
  color: #FFF;
  width: 155px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.orangeDireitaCima span{
  font-size: 15px;
}

.orangeDireitaBaixo{
  background-color: rgba(250,130,49, 0.8);
  color: #FFF;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.orangeDireitaBaixo span{
  font-size: 15px;
}

.divGreen{
  height: 17%;
  width: 98%;
  margin-top: 4%;
  border-radius: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.greenEsquerda{
  background-color: rgba(61,145,101, 0.8);
  color: #FFF;
  border-right: 1px transparent #FFF;
  height: 100%;
  width: 135px;
  display: flex;
  align-items:start;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid rgba(255,255,255, 0.3);
}

.greenEsquerda p{
  font-size: 18px;
  margin-left: 15px;
}

.greenMeio{
  background-color: rgba(61,145,101, 0.8);
  color: #FFF;
  border-right: 1px transparent #FFF;
  height: 100%;
  width: 194px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(255,255,255, 0.3);
}

.greenMeio span {
  font-size: 15px;
  margin-left: 15px;
}

.greenDireitaCima{ 
  background-color: rgba(61,145,101, 0.8);
  color: #FFF;
  width: 155px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.greenDireitaCima span{
  font-size: 15px;
}

.greenDireitaBaixo{
  background-color: rgba(61,145,101, 0.8);
  color: #FFF;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.greenDireitaBaixo span{
  font-size: 15px;
}

.divPurple{
  height: 17%;
  width: 98%;
  margin-top: 4%;
  border-radius: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.purpleEsquerda{
  background-color: rgba(95,52,154, 0.8);
  color: #FFF;
  border-right: 1px transparent #FFF;
  height: 100%;
  width: 135px;
  display: flex;
  align-items:start;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid rgba(255,255,255, 0.3);
}

.purpleEsquerda p{
  font-size: 18px;
  margin-left: 15px;
}

.purpleMeio{
  background-color: rgba(95,52,154, 0.8);
  color: #FFF;
  border-right: 1px transparent #FFF;
  height: 100%;
  width: 194px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(255,255,255, 0.3);
}

.purpleMeio span {
  font-size: 15px;
  margin-left: 10px;
}

.purpleDireitaCima{ 
  background-color: rgba(95,52,154, 0.8);;
  color: #FFF;
  width: 155px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.purpleDireitaCima span{
  font-size: 15px;
}

.purpleDireitaBaixo{
  background-color: rgba(95,52,154, 0.8);
  color: #FFF;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.purpleDireitaBaixo span{
  font-size: 15px;
}

.divRed{
  height: 17%;
  width: 98%;
  margin-top: 4%;
  border-radius: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.redEsquerda{
  background-color: rgba(199,61,86, 0.8);;
  color: #FFF;
  border-right: 1px transparent #FFF;
  height: 100%;
  width: 135px;
  display: flex;
  align-items:start;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid rgba(255,255,255, 0.3);
}

.redEsquerda p{
  font-size: 18px;
  margin-left: 15px;
}

.redMeio{
  background-color: rgba(199,61,86, 0.8);
  color: #FFF;
  border-right: 1px transparent #FFF;
  height: 100%;
  width: 194px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(255,255,255, 0.3);
}

.redMeio span {
  font-size: 15px;
  margin-left: 10px;
}

.redDireitaCima{ 
  background-color: rgba(199,61,86, 0.8);
  color: #FFF;
  width: 155px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.redDireitaCima span{
  font-size: 15px;
}

.redDireitaBaixo{
  background-color: rgba(199,61,86, 0.8);;
  color: #FFF;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.redDireitaBaixo span {
  font-size: 15px;
}

.footer{ 
  border-top: 1px solid #eee; 
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  background-color: #FFF;
  bottom: 0;
}

.footer ul {
  display: flex;
  align-items: center;
  padding: 10px;
}

.footer ul li {
  padding: 5px;
}

.footer li  a{
  display: block;
  color: #808080;
}

.footer ul li span{
  font-size: 13px;
  color: #808080;
}


